@import url(http://fonts.googleapis.com/css?family=Kreon:300,700);

html {
	background: url(bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
}

footer, main {
	font-family: Kreon;
}

main {
	position: relative; 
	top: 100px;
	font-weight: 300;
	max-width: 500px; 
	margin: 5rem auto 1rem auto; 
	min-height: 100%;

}
h1 {
	color: #041D37;
	font-size: 3rem;
	margin: 0 auto; 
	text-align: center;
	display: block;
}

h1, h2 {
	font-weight: 700; 
}
.hidden {
	display: none;
}
a {
	cursor: pointer; 
	color: blue;
}
progress, select {
	display: block;
}

h1 span:first-of-type {
	padding-right: 70px;
}

#mouth {
	display: inline-block;
	width: 100%;
	background-image: url(sprite.png);
	background-size: 310% 200%;
	padding-bottom: 90%;
}

.mouth-upper-left {
	background-position: 0% 0%;
}
.mouth-upper-right {
	background-position: 45% 0%;
}
.mouth-bottom-right {
	background-position: 97% -10%;
}
.mouth-bottom-left {
	background-position: 0% 94%;
}

#mouthWrapper {
	display: inline-block;
	width: 20%;
	height: 100px;
	vertical-align: top;
}

#overview {
	display: inline-block;
	width: 75%;
}

h1 span:first-of-type:after {
content: '';
display: inline-block;
position: absolute;
width: 66px;
height: 71px;
background-image: url(sprite.png);
background-repeat: no-repeat;
background-size: 266px 170px;
background-position: -90px -87px;
}

progress {
	width: 100%; 
	margin: .5rem 0;
}
.ui-control {
	display: inline-block;
	margin-top: 1rem;
	margin-right: 1rem;
	background-color: #4B698B;
	color: #fff;
	font-size: 1.25rem;
	padding: .55rem .5rem;
	border-radius: .25rem;

	transition: all ease .3s;
}
.ui-control:hover {
	background: #133253;
}

#about {
	font-size: 1.25rem;
	text-align: justify;
	padding-left: 2rem;
	padding-right: 2rem;
}

.important {
	font-size: 1.75rem;
	margin-bottom: 1rem;
}

.disabled, .disabled:hover {
	background: #738C86;
	cursor: none;
	pointer-events: none;
}
select {
	font-family: Kreon;
	-webkit-appearance: none;

	font-size: 1.25rem;
	background: #fff;
	border-radius: .25rem;
	outline: none;
	width: 100%;
	padding: .5rem;
	display: inline-block;
}

#selectWrapper:after {
	pointer-events: none;
	content: '';
	position: absolute;
	top: 15px;
	right: 10px;
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid  #4B698B;
}

footer, footer a {
	color: #ece;
}

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	background: #4B698B;
	display: block;
	width: 100%;
	text-align: center;
	padding: .5rem 0rem;

	    -webkit-box-shadow: 0px -3px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px -3px 3px rgba(50, 50, 50, 0.75);
    box-shadow:         0px -3px 3px rgba(50, 50, 50, 0.75);
}

#selectWrapper {
	display: inline-block;
	width: 65%;
	position: relative;
	margin-right: .5rem;
}

	#pageIntro .ui-control {
		width: 32%;
		margin: 0;
		padding: .6rem;
		box-sizing: border-box;
		text-align: center;
	}

@media (max-width: 700px) {
	html {
		background-size: initial;
		background-position: 20% 40%;
	}
	#about {
		padding-right: 1rem;
		padding-left: 1rem;
	}
	progress {
		width: 75%;
	}
	body, main, h1 {
		margin-top: 0px;
		padding-top: 0px;
		top: 50px;
	}
	#selectWrapper {
		width: 60%;
	}
	.ui-control {
		font-size: 1rem;
	}
}